pipeline/Data_Load_to_Databricks_MERGE.json
{
	"name": "Data_Load_to_Databricks_MERGE",
	"properties": {
		"activities": [
			{
				"name": "Fetching Metadata",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Bikestore_dataset",
						"type": "DatasetReference",
						"parameters": {
							"tablename": {
								"value": "@pipeline().parameters.metadata_table",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Filtering Enabled Tables",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Fetching Metadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Fetching Metadata').output.value",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(item().is_enabled,1)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Foreach Enabled File",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Filtering Enabled Tables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Filtering Enabled Tables').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Multi File Incremental Loader",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "Data_Load_to_Databricks_MERGE_1",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"filetype": {
										"value": "@item().filetype",
										"type": "Expression"
									},
									"filename": {
										"value": "@item().filename",
										"type": "Expression"
									},
									"foldername": {
										"value": "@pipeline().parameters.foldername",
										"type": "Expression"
									},
									"sequence": {
										"value": "@item().sequence",
										"type": "Expression"
									},
									"table_id": {
										"value": "@item().table_id",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"metadata_table": {
				"type": "string",
				"defaultValue": "metadata_details"
			},
			"foldername": {
				"type": "string",
				"defaultValue": "loaddata"
			}
		},
		"annotations": []
	}
}