pipeline/Metadata_Based_Data_Load.json
{
	"name": "Metadata_Based_Data_Load",
	"properties": {
		"activities": [
			{
				"name": "Fetching Metadata",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Bikestore_dataset",
						"type": "DatasetReference",
						"parameters": {
							"tablename": {
								"value": "@pipeline().parameters.metadata_table",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Filtering Enabled Tables",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Fetching Metadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Fetching Metadata').output.value",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(item().is_enabled,0)",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"metadata_table": {
				"type": "string",
				"defaultValue": "metadata_details"
			}
		},
		"annotations": []
	}
}