pipeline/Metadata_Based_Data_Load.json
{
	"name": "Metadata_Based_Data_Load",
	"properties": {
		"activities": [
			{
				"name": "Fetching Metadata",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Bikestore_dataset",
						"type": "DatasetReference",
						"parameters": {
							"tablename": {
								"value": "@pipeline().parameters.metadata_table",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Filtering Enabled Tables",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Fetching Metadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Fetching Metadata').output.value",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(item().is_enabled,1)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Foreach Enabled File",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Filtering Enabled Tables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Filtering Enabled Tables').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Load Data",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "SqlServerSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DatalakeCSV",
									"type": "DatasetReference",
									"parameters": {
										"containername": {
											"value": "@pipeline().parameters.containername",
											"type": "Expression"
										},
										"foldername": {
											"value": "@pipeline().parameters.foldername",
											"type": "Expression"
										},
										"filename": {
											"value": "@concat(item().filename,'.csv')",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "Bikestore_dataset",
									"type": "DatasetReference",
									"parameters": {
										"tablename": {
											"value": "@item().filename",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"metadata_table": {
				"type": "string",
				"defaultValue": "metadata_details"
			},
			"containername": {
				"type": "string",
				"defaultValue": "azuredatastore"
			},
			"foldername": {
				"type": "string",
				"defaultValue": "loaddata"
			}
		},
		"annotations": []
	}
}