pipeline/Selecting_Latest_Edited_File.json
{
	"name": "Selecting_Latest_Edited_File",
	"properties": {
		"activities": [
			{
				"name": "File List",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "LatestEditedFile",
						"type": "DatasetReference",
						"parameters": {
							"containername": {
								"value": "@pipeline().globalParameters.containername",
								"type": "Expression"
							},
							"foldername": {
								"value": "@pipeline().parameters.foldername",
								"type": "Expression"
							},
							"filename": "*"
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "File Iterator",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "File List",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('File List').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "FileName and LastModified",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "LatestEditedFile",
									"type": "DatasetReference",
									"parameters": {
										"containername": {
											"value": "@pipeline().globalParameters.containername",
											"type": "Expression"
										},
										"foldername": {
											"value": "@pipeline().parameters.foldername",
											"type": "Expression"
										},
										"filename": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								},
								"fieldList": [
									"itemName",
									"lastModified"
								],
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							}
						},
						{
							"name": "Latest Timestamp Check",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "FileName and LastModified",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@greater(activity('FileName and LastModified').output.lastModified,variables('lastModified'))",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Set LastModified",
										"type": "SetVariable",
										"dependsOn": [],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "lastModified",
											"value": {
												"value": "@activity('FileName and LastModified').output.lastModified",
												"type": "Expression"
											}
										}
									},
									{
										"name": "Set ItemName",
										"type": "SetVariable",
										"dependsOn": [
											{
												"activity": "Set LastModified",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "itemName",
											"value": {
												"value": "@activity('FileName and LastModified').output.itemName",
												"type": "Expression"
											}
										}
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "Final Result",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "File Iterator",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "FinalResult",
					"value": {
						"value": "@concat(variables('itemName'),'---',variables('lastModified'))",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"foldername": {
				"type": "string",
				"defaultValue": "latesteditedfile"
			}
		},
		"variables": {
			"lastModified": {
				"type": "String",
				"defaultValue": "1999-03-01T07:14:31Z"
			},
			"itemName": {
				"type": "String",
				"defaultValue": "csv"
			},
			"FinalResult": {
				"type": "String"
			}
		},
		"annotations": []
	}
}