azure-dataengg-adf/linkedTemplates/ArmTemplate_1.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "azure-dataengg-adf"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/File_Check_Metadata_Data_Load')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Fetching Metadata",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "Bikestore_dataset",
								"type": "DatasetReference",
								"parameters": {
									"tablename": {
										"value": "@pipeline().parameters.metadata_table",
										"type": "Expression"
									}
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Filtering Enabled Tables",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "Fetching Metadata",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Fetching Metadata').output.value",
								"type": "Expression"
							},
							"condition": {
								"value": "@equals(item().is_enabled,1)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Foreach Enabled File",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Filtering Enabled Tables",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Filtering Enabled Tables').output.value",
								"type": "Expression"
							},
							"isSequential": false,
							"activities": [
								{
									"name": "File Check",
									"type": "GetMetadata",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "DatalakeCSV",
											"type": "DatasetReference",
											"parameters": {
												"containername": {
													"value": "@pipeline().globalParameters.containername",
													"type": "Expression"
												},
												"foldername": {
													"value": "@pipeline().parameters.foldername",
													"type": "Expression"
												},
												"filename": {
													"value": "@concat(item().filename,'.csv')",
													"type": "Expression"
												}
											}
										},
										"fieldList": [
											"exists",
											"itemName"
										],
										"storeSettings": {
											"type": "AzureBlobFSReadSettings",
											"enablePartitionDiscovery": false
										},
										"formatSettings": {
											"type": "DelimitedTextReadSettings"
										}
									}
								},
								{
									"name": "File Check Pipeline",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "File Check",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "File_Check_Metadata_Data_Load_1",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"filename": {
												"value": "@concat(item().filename,'.csv')",
												"type": "Expression"
											},
											"foldername": {
												"value": "@pipeline().parameters.foldername",
												"type": "Expression"
											},
											"existflag": {
												"value": "@activity('File Check').output.exists",
												"type": "Expression"
											},
											"tablename": {
												"value": "@item().tablename",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"metadata_table": {
						"type": "string",
						"defaultValue": "metadata_details"
					},
					"foldername": {
						"type": "string",
						"defaultValue": "loaddata"
					}
				},
				"folder": {
					"name": "Simple Data Load"
				},
				"annotations": []
			},
			"dependsOn": []
		}
	]
}